.jamoa{
    font-size: 40px;
    /*font-family: fantasy;*/
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .jamoa{
        font-size: 17px;
    }
}
@media only screen and (max-width: 1000px) and  (min-width: 700px){
    .jamoa{
        font-size: 22px;
    }
}
.switchdiv,.switchdiv1,.switchdiv2{
    width: 90%;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    margin: 5% auto;
    height: auto;
}
.switchfooter,.switchfooter1,.switchfooter2{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: black;
    color: white;
}
.switchfooter1{
    background-color: #EB196D;
    color: white;
}
.switchfooter2{
    background-color: #137E4D;
}
.close{
    display: none;
}
.switchfooter h3 ,.switchfooter1 h3, .switchfooter2 h3{
    color: white;
}
.linkUl{
    overflow: hidden;
    list-style-type: none;
}
.linkUl li{
    float: left;
    margin-right: 20px;
    font-size: 20px;
    color: black;
    font-family: "Times New Roman";
}
.linkUl li:hover{
    color: #EB196D;
}

.iconLink{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    text-align: center;
    background-color: #E6E7E9;
}
@media only screen and (max-width: 800px) {
    .linkUl{
        overflow: hidden;
    }
    .linkUl li{
        font-size: 12px;
        margin-right: 10px;
    }
    .iconLink{
        width: 22px;
        height: 22px;
    }
}