.mySelect{
   height: 20px !important;
   width: 120px;
   margin-top: 5px;
}
.mySelect .css-yk16xz-control{
    /* background-color: rgb(185, 185, 255); */
    border: none;
    background-color: transparent;
}
.css-1okebmr-indicatorSeparator{
    display: none;
}

.css-tj5bde-Svg{
    display: none !important;
}
.css-1uccc91-singleValue{
    color: white !important;
}
.css-yk16xz-control{
    background-color:transparent !important;
    box-shadow: none;

}

.css-1pahdxg-control{
    background-color: transparent !important;

}
.css-2613qy-menu{
    z-index: 1001 !important;
}
.mySelect .css-2613qy-menu{
    z-index: 1000;
}
.css-1f43avz-a11yText-A11yText{
    z-index: 1000;

}