.theBiggest{
    background-color: #F8F9FC;
    height: 80vh;
    z-index: 1;
}
.big_p{
    font-size: 40px;
    font-weight: 600;
}
.small_p{
    color: grey;
    margin: 20px 0 35px 0;
}
.myBtn{
    margin-right: 10px;
    background: linear-gradient(to left, #019546, #11B67A);    color: #292a2a;
    transition: 0.5s !important;
}
.myBtn:hover{
    background: linear-gradient(to right, #019546, #11B67A);    color: #292a2a;
}
.myBtn_2{
    background-color:#182B49;
    transition: 0.2s;
}
.myBtn_2:hover{
    background-color: #019546;
    /* background: linear-gradient(to left, #019546, #11B67A);    color: #292a2a; */
}
.mmm{
    padding: 100px 0;
}
.big_png{
    height: 480px;
    /*z-index: 1 !important;*/
}
@media only screen and (max-width:992px){
  .mt-50{
      margin-bottom: 50px;
      padding-left: 50px;
  } 
  .mmm{
    padding: 30px 0 30px 30px;
}
.big_png{
    height: 300px;
    z-index: 1 !important;
}
}