.footerColor{
    background-color: #122340;
}
.twitter{
    background-color: rgb(10, 148, 240);
}
.instaColor:hover{
    background: #027738 !important;
}
.youtube{
    background-color: red;
    color: #fff;
}
.iconsss span{
    margin: 0 5px;
    margin-top: 30px;
}
.telText{
    color: #999;
}
.telNumber{
    color:#fff
}