body{  
    padding:0;
    margin:0;
  }
  .menu{
      margin-top: 100px !important;
  }
  header{
    height: 60px;
    background: #F8F9FC;
    position:sticky;
    top:0 !important;
    width:100%;
    transition:0s;
  }
  .left_2 a{
    color: #000;
  }
  
  header.blue{
    /* background:red; */
    background: linear-gradient(240deg, #019546, #11B67A);
    box-shadow: 10px 0px 10px #333;
    color: #fff !important;
  }

  .logo_img{
      margin: 10px;
  }
  .logo_img:hover{
    cursor: pointer;
  }

  .navbar_info ul{
    list-style-type: none;
    margin-top: 18px;
  }
  
  .navbar_info ul li{
      display: inline;
      font-size: 16px;
      font-weight: 700;
  }
  .searchIcon{
    font-size: 22px;
    margin-top: 17px;
    float: right !important;
  }
  .left_3{
    float: right;
    width: 20%;
  }
  .searchInput::placeholder{
    color: #000;
  }
  .left_1{
    float: left;
    width: 20%;
  }
  .left_2{
    float: left;
    width: 60%;
    transition: 0.25s;
  }
  .left_2 li a:hover{
    color: rgb(206, 0, 178);
  }
  
  .searchInput{
    float: right;
    border: none;
    width: 80%;
    background-color: transparent;
    border-bottom: rgb(12, 12, 12) 1px solid;
  }
  .searchInput:focus-visible{
    outline: none;
    border-bottom: rgb(34, 0, 128) solid 0.5px;
  }
  .searchButton{
    height: 30px;
    float: right;
    width: 30%;
    margin-top: 15px;
    font-size: 14px;
  }
  .searchIcon:hover{
    cursor: pointer;
  }
  .b{
    z-index: 100 !important;
  }
  .ss{
    z-index: 100 !important;
  }
  .blue{
    z-index: 100;
  }
  .aaaa{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navActiveClass{
    font-weight: 500;
  }
  @media only screen and (max-width:1200px) and (min-width:800px){
   .logo_img{
     height: 30px;
   }
   .left_2 ul li{
     font-size: 12px;
     margin: 0 !important;
     margin-left: 10px !important;
   }
   .searchIcon{
     font-size: 20px;
   }
   }