.routerBest{
    background-color: #f2f5ff;
    
}
a{
    text-decoration: none !important;
}
.navRouter ul{
    text-decoration: none;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
}
.navRouter ul li{
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    margin: 7px 0px;
}
.navRouter ul li a{
    text-decoration: none;
    color: #000;
    margin: 0 12px;
}
.navRouter ul li:hover{
    cursor: pointer;
}
.activeBtn{
    width: 100%;
    color: #fff !important;
    padding: 7px 12px;
    margin: 0 !important;
    border-radius: 5px;
    background:linear-gradient(45deg,#d600ba,#fd64e9,#d600ba) ;
}
.kurslar{
    font-size: 25px;
    font-weight: 700;
}
.cardNumber{
    font-size: 15px;
    
}
.starIcon{
    color: rgb(255, 196, 0);
    font-size: 14px;
}
.ss{
    font-size: 12px !important;
}
.price{
    position: absolute;
    background-color: #019546;
    color: white;
    top: 209px;
    padding: 5px 8px;
    border-top-right-radius: 5px;
}
.title{
    font-size: 17px !important;
    transition: 0.25s;
    display: inline-flex;
    color: #333;
}
.title:hover{
    color: #019546;
}
.seriy{
    color: #555;
}
.images{
    height: 240px !important;
    width: 100% !important;
}
@media only screen and (max-width:992px){
    
}