.infoBtn{
    width: 100%;
    background-color: #137E4D;
    border: none;
}
.infoBtn h3{
    color: white;
}
.infoBtn:hover{
    border: none;
}
.close{
    display: none;
}
.linkUl1{
    overflow: hidden;
    list-style-type: none;
}
.linkUl1 li{
    float: left;
    margin-right: 20px;
    font-size: 13px;
    color: black;
    font-family: fantasy;
}
.linkUl1 li:hover{
    color: #EB196D;
}
.iconLink1{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    text-align: center;
    background-color: #E6E7E9;
}
@media only screen and (max-width: 800px) {
    .linkUl1{
        overflow: hidden;
    }
    .linkUl1 li{
        font-size: 10px;
        margin-right: 10px;
    }
    .iconLink1{
        width: 18px;
        height: 18px;
    }
}
