h1{
    color:red;
}
.hover-box-shadow{
    transition: 0.25s;
    margin-bottom: 30px;
}
.hover-box-shadow:hover{
    box-shadow: 0px 3px 10px rgb(194, 194, 194);
}
.card_text{
    color: #999;
    font-style: italic;
    margin: 3px 0 !important;
}
.resizeImg{
    object-fit: cover;
}
.display{
    display: none;
}