.footerOnColor{
    background: #1D304D;
}
.contactTitle{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.myInput{
    width: 95%;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color:transparent;
    background: rgba(255, 255, 255, 0.2);
}
.myInput:focus{
    background: rgb(255, 255, 255);
    outline: none !important;
}
.myInput::placeholder{
    font-style: italic;
    color: rgb(206, 206, 206);
}
.myInput::placeholder:focus{
    font-style: italic;
    color: rgb(78, 78, 78);
}
.myInput:focus::placeholder{
    color: rgb(83, 83, 83);
}
.biggerBtn{
    width: 200px;
    height: 50px;
    margin-bottom: 60px;
}
@media only screen and (max-width:992px){
    .dad{
        margin: 15px 0 !important;
    }
}
