body{  
    padding:0;
    margin:0;
  }
  .menu{
      margin-top: 100px !important;
  }
  header{
    height: 60px;
    background: #F8F9FC;
    position:sticky;
    top:0 !important;
    width:100%;
    transition:0s;
  }
  .left_2 a{
    color: #000;
  }
  
  header.blue{
    /* background:red; */
    background: linear-gradient(240deg, #019546, #11B67A);
    box-shadow: 10px 0px 10px #333;
    color: #fff !important;
  }

  .logo_img{
      margin: 10px;
  }
  .logo_img:hover{
    cursor: pointer;
  }

  .navbar_info ul{
    list-style-type: none;
    margin-top: 18px;
  }
  
  .navbar_info ul li{
      display: inline;
      font-size: 16px;
      font-weight: 700;
  }
  .searchIcon{
    font-size: 22px;
    margin-top: 17px;
    float: right !important;
  }
  .left_3{
    float: right;
    width: 20%;
  }
  .searchInput::placeholder{
    color: #000;
  }
  .left_1{
    float: left;
    width: 20%;
  }
  .left_2{
    float: left;
    width: 60%;
    transition: 0.25s;
  }
  .left_2 li a:hover{
    color: rgb(206, 0, 178);
  }
  
  .searchInput{
    float: right;
    border: none;
    width: 80%;
    background-color: transparent;
    border-bottom: rgb(12, 12, 12) 1px solid;
  }
  .searchInput:focus-visible{
    outline: none;
    border-bottom: rgb(34, 0, 128) solid 0.5px;
  }
  .searchButton{
    height: 30px;
    float: right;
    width: 30%;
    margin-top: 15px;
    font-size: 14px;
  }
  .searchIcon:hover{
    cursor: pointer;
  }
  .b{
    z-index: 100 !important;
  }
  .ss{
    z-index: 100 !important;
  }
  .blue{
    z-index: 100;
  }
  .aaaa{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navActiveClass{
    font-weight: 500;
  }
  @media only screen and (max-width:1200px) and (min-width:800px){
   .logo_img{
     height: 30px;
   }
   .left_2 ul li{
     font-size: 12px;
     margin: 0 !important;
     margin-left: 10px !important;
   }
   .searchIcon{
     font-size: 20px;
   }
   }
.none{
  display: none;
}
@media only screen and (max-width: 800px) {
  .none{
    display: block;
  }
  .cancel{
    display: none;
  }
  .top_menu{
    display: none;
  }
  .searchInput,.searchIcon{
  display: none;
   }
}
@media only screen and (max-width: 600px) {
  .nuqtalar{
    position: absolute;
    left: 10%;
  }
}
@media only screen and (min-width: 800px) {
  .sidebarmenu{
    display: none;
  }
  .top-menu ul li{
    font-size: 10px;
    margin-top: 15px;
  }
  .menu ul li{
    margin-right: 0;
  }

}
.sidebarmenu{
  /*margin-top: 40px;*/
  position: relative;
  animation-name: example;
  animation-duration: 800ms;
  /*animation-delay: 0s;*/
  width: 100%;
  margin: -1px auto;
  font-size: 25px;
  color: white;
  z-index: 100000;
  background-color: #810297;
  /*text-align: center;*/
  cursor: pointer;
  z-index: 1000;
}
.umumiy,.tuzilma,.faoliyat,.abituriyent,.talabalar,.qonunchilik{
  position: relative;
  padding-left: 20%;
  animation-name: behruz;
  animation-duration: 700ms;
  animation-delay: 0s;
  margin-bottom: 10px;
  width: 100%;
  float: bottom;
}
.umumiy:hover{
  background-color: #137E4D;
}
@keyframes example {
  0%   { left:-400px; top:0px;}
  100%  { left:0px; top:0px;}
}
@keyframes behruz {
  0%   { left:-100px; top:0px;}
  100%  { left:0px; top:0px;}
}
.sidebarmenu .item a{
  color: white;
}
.sidebarmenu .item a:hover{
  color: red;
}
.k-btn{
  width: 100%;
  height: 50px;
  background-color: #069E54;
  cursor: pointer;
}
.p-btn{
  width: 100%;
  height: 50px;
  border: solid 1px #FF5CB3;
  border-radius: 6px;
  cursor: pointer;
}
.x-btn{
  width: 100%;
  height: 50px;
  border: solid 1px #393939;
  border-radius: 6px;
  cursor: pointer;
}
.k-btn:hover{
  background-color: #069E54;
}
.p-btn:hover{
  background-color:#FF5CB3 ;
  color: white;
}
.x-btn:hover{
  background-color:#393939 ;
  color: white;
}
.m{
  position: absolute;
  left: -100px;
}
.m1{
  position: absolute;
  left: -250px;
}
.m2{
  position: absolute;
  left: -360px;
}
.m3{
  position: absolute;
  left: -440px;
}
.m4{
  position: absolute;
  left: -550px;
}
.m5{
  position: absolute;
  left: -650px;
}
.m6{
  position: absolute;
  left: -790px;
}
.backColor{
  background-color: #0AA762;
  z-index: 1000;
}
.White{
  z-index: 1000;

}
.sidebarmenu{
  z-index: 2000 !important;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #810297;
  background-color: #810297;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: white;
  transform: translateX(.75rem);
  border: none;
  outline: none !important;
}