ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }
  .header {
    /* margin-top: 20vh; */
    position: fixed;
    /* position: -webkit-sticky; */
    /* position: sticky;  */
    top: 0 !important;
    left: 0;
    width: 100%;
    background: linear-gradient(to left, #019546, #11B67A);    color: #292a2a;
    z-index: 4;
    box-shadow:0px 1px 5px 2px #555;
  }
  .header a {
    color: inherit;
    text-decoration: none;
  }
  .header .navContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
  }
  .logo {
    font-size: 1.25em;
    padding: 0.95em 0;
  }
  .navToggle {
    display: block;
    background-color: transparent;
    border: none;
    height: 38px;
    width: 38px;
    padding: 8px 8px;
    margin: 10px -8px 10px 0px;
    outline: none;
    cursor: pointer;
    z-index: 5;
  }
  .navToggle.open span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
  }
  .navToggle.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .navToggle.open span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
  }
  .navToggle span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(1, 0.13, 0.35, 1.09);
  }
  .navToggle.open span{
    background:#333;
  }
  
  .navToggle span:last-child {
    margin-bottom: 0;
  }
  .mainNav {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 58px 15px;
    z-index: 3;
    transform: translateX(100%);
    transition: transform 0.25s ease;
    overflow-y: auto;
  }
  .mainNav.open {
    transform: translateX(0%);
  }
  .mainNav .mainNavLink {
    display: block;
    padding: 0.71875rem 0;
    text-transform: capitalize;
  }
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 0;
    width: 0;
    background-color: rgba(70, 70, 70, 0.7);
    opacity: 0;
    transition: opacity 1s ease 0.1s;
  }
  .overlay.open {
    opacity: 3;
    width: 100%;
    height: 120%;
  }
  