.bigSecond{
    font-size: 25px;
    font-weight: 700;
    color: rgb(10, 0, 65);
}
.broImg{
    width: 90%;
    border-radius: 5px;
}
.little_p{
    font-size: 15px;
}
.as{
    font-style: italic;
    font-weight: 600;
}
.play_icon{
    font-size: 100px;
    /* margin:150px 230px; */
    color: #fff;
    position: absolute;
    top: 200px;
    left: 230px;
    /* filter: blur(0) !important; */
    transition: 0.2s;
}
.play_icon:hover{
    cursor: pointer;
    font-size: 97px;
    color: rgb(202, 202, 202);
}
.play_video{
    border-radius: 5px;
    height: 400px;
    width: 95%;
    background-size: cover;
    background-image: url('../images/back.jpg');
    /* filter: blur(6px); */
}

.index{
    position: relative;
    background-color: #0AA762;
    opacity: 0.5;
    height: 400px;
    width: 100%;
    border-radius: 5px;
}
.position_relative{
    position: relative;
}
@media only screen and (max-width:1000px) and (min-width:770px){
   .play_icon{
       left: 20%;
   }
  }

@media only screen and (max-width:771px){
  .play_icon{
      left: 40%;
  }
 }