 .Slider-Item {
    position: relative;
    overflow: hidden;
  }
  
  .Slider-Item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    transition: all 0.8s ease 0s;
  }
  .Slider-Item:hover::before{
    box-shadow: 5px 5px 5px 5px #000;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .Text_slider {
    position: absolute;
    left: 0px;
    bottom: -68px;
    transition: all 0.3s ease 0s;
    background: rgba(0,0,0,0.5);
    border-radius: 8px 8px 0 0;
    width: 100%;
  }
  .textBottom{
    color: #fff;
    font-weight: 600;
    padding: 5px 0 30px 10px;
  }
  .Text_slider span a{
    text-decoration: none;
    border-radius: 50%;
    padding: 1px 7px 5px 7px;
    color:#fff;
    transition: 0.25s;
    
  }
  .Text_slider span a:hover{
    background: #027738;
    border-radius: 50%;
    padding: 1px 7px 5px 7px;
  }
  .Slider-Item:hover .Text_slider{
    position: absolute;
    left: 0px ;
    bottom: 0px;
  }
  
  .iconss span{
    margin-right: 5px;
  }
  
  /* .Slider-Item:hover .Text_slider .meta-tag-area {
    opacity: 1;
  } */
  .sl-post-cat{
    background-color: rgba(0, 238, 59, 0.5);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.4s;
    border-radius: 8px 8px 0 0;
    padding: 12px 10px;
  }
  .sl-post-cat:hover{
    background-color: #027738;
    color:#fff
  }
  .slick-initialized button{
    background-color: #8fd4b6 !important;
    border-radius: 50%;
    padding: 2px 0 3px 0;
    }
    .telegramColor{
      background: #178DC9;
    }
    .facebookColor{
      background-color: #3B5998;
    }
    .instaColor{
      /* background-color: #D53293; */
      background: linear-gradient(210deg,#9D69C2,#D53293,#E02D6A,#F3BD2D,#F1E99D);
    }
.iconsss span a{
  text-decoration: none;
  color:#fff;
  padding: 1px 8px 8px 8px;
  border-radius: 50%;
  transition: 0.25s;
}
.iconsss span a:hover{
  background-color: #027738;
}
@media only screen and (max-width:992px){
  .sliderReponsive{
    width: 40px;
  }
}