.aa{
    background-color: #182B49;
}

.leftTop{
   float: left;
   border-left: 1px solid #555;
   border-right: 1px solid #555;
}

.zakoColor{
    color: #08A35D;
}
.fs-13{
    font-size: 14px;
    font-weight: 600;
}
.location:hover{
    color: #08A35D;
    text-decoration: none;
}
.seriy{
    color: rgb(172, 172, 172) !important;
}
.rightTop{
    float: right;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    
}
.rightTop_2{
    float: right;
    border-right: 1px solid #555;   
}

.mm{
    padding: 12px;
}
@media screen and (max-width: 1000px) and (nim-width:601px){
    .aa{
        width: 100%;
    }
     .rightTop_2{
         float: left !important;
     width: 60%;
     }
     .rightTop{
         width: 40%;
     } 
 }
@media only screen and (max-width: 600px){
   .aa{
       width: 100%;
       
   }
   .rightTop_2{
    width: 50%;
    }
    .rightTop{
        width: 50%;
    }
}